.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 12px 19px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color:#3f51b5;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}